
img
{
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = GetStyleUrl()+"images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
/* end Page */

/* begin Menu */

.artmenu ul
{
	height: 1%;
	width:1px;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 5px;
	left: 100%;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.nav
{
	zoom: 1;
}

.nav .l, .nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
	height: 43px;
	background-image: url('images/nav.png');
}

.nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');;
}

.nav .r
{
	left: expression(this.parentNode.offsetWidth-900+'px');
	clip: rect(auto auto auto 900px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a
{
	float:left;
}

.artmenu a:hover
{
	visibility:visible;
}

.artmenu a .r, .artmenu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.artmenu a .r
{
	left: expression(this.parentNode.offsetWidth-408+'px');
	clip: rect(auto auto auto 404px);
}

.artmenu a .l
{
	width: expression(this.parentNode.offsetWidth-4+'px');
}

.artmenuhover .artmenuhoverA .t
{
	color: #FDDDDF;
}

.artmenuhover .artmenuhoverA .l, .artmenuhover .artmenuhoverA .r
{
	top: -31px;
}
/* end MenuItem */

/* begin MenuSubItem */

.artmenu ul a
{
	color: #404040 !important;
}

.artmenu ul a:hover {
	color: #000000 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
	color: #000000 !important;
	background-position: 0 -20px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
	color: #000000 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
	color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.Block, .Block-body
{
	zoom:1;
}

.Block-body
{
	position:static;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	font-size: 1px;
	background: none;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='scale')");
}

.Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.Block-tr
{
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(auto auto 7px 7px);
}

.Block-bl
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	clip: rect(7px 7px auto auto);
}

.Block-br
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(7px auto auto 7px);
}

.Block-tc, .Block-bc
{
	width: expression(this.parentNode.offsetWidth-14+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='scale')");
}

.Block-tc
{
	clip: rect(auto auto 7px auto);
}

.Block-bc
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	clip: rect(7px auto auto auto);
}

.Block-cr, .Block-cl
{
	height: expression(this.parentNode.offsetHeight-14+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='scale')");
}

.Block-cr
{
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(auto auto auto 7px);
}

.Block-cl
{
	clip: rect(auto 7px auto auto);
}

.Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-14+'px');
	height: expression(this.parentNode.offsetHeight-14+'px');
	background-color: #EDEDED;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .l, .BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeader.png',sizingMethod='crop')");
}

.BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-900+'px');
	clip: rect(auto auto auto 894px);
}

.BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-6+'px');
}

.header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent, .BlockContent-body
{
	zoom:1;
}

.BlockContent-body
{
	position:static;
}

/* end Box, BlockContent */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.Button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.Button, .Button .btn, .Button .btn .l, .Button .btn .r
{
	font-size: 1px;
}

.Button .btn .t
{
	display:inline-block;
}

.Button .btn .l, .Button .btn .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.Button .btn .r
{
	left: expression(this.parentNode.offsetWidth-409+'px');
	clip: rect(auto auto auto 399px);
}

.Button .btn .l
{
	width: expression(this.parentNode.offsetWidth-10+'px');
}

/* end Button */

/* begin Footer */
.Footer
{
	background-repeat: repeat-x;
	background-image: url('images/Footer.png');
	width: 100%;
	height: 150px;
}

.rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */

